<div class="mx-auto mt-5 " style="max-width: 700px;">
  <h1 class="text-center heading">User Registration form</h1>
  <form #ref="ngForm" (ngSubmit)="addUserData(ref)">
  <div>
  <label for="un">Username</label>
  <input type="text" name="username" id="un" class="form-control" ngModel>
  </div>
  <div>
  <label for="pw">Date of birth</label>
  <input type="date" name="dob" id="pw" class="form-control" ngModel>
  </div>
  <div>
  <label for="em">E-mail</label>
  <input type="email" name="email" id="em" class="form-control" ngModel>
  </div>
  <button type="submit" class="btn btn-warning d-block mx-auto m-3" >Register</button>
</form>
  
<h3 class="text-center">List of Users</h3>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>DOB</th>
      <th>E-mail</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Userobj of Users">
      <th>{{Userobj.username}}</th>
      <th>{{Userobj.dob}}</th>
      <th>{{Userobj.email}}</th>

    </tr>
  </tbody>
</table>




  </div>

  